:root {
	--border-color: rgba(0, 0, 0, 0.1);
	--button-border-color: rgba(0, 0, 0, 0.4);
	--font-color-v1: rgba(0, 0, 0, 0.6);
	--input-border-v1: rgba(0, 0, 0, 0.1);
	--input-border-v2: rgba(0, 0, 0, 0.3);
	--spotify-color: #15883e;
	--spotify-color-hover: #3ecc70;
}

button {
	border: none;
	outline: none;
	box-shadow: none;
}
button:active,
button :focus {
	outline: none;
	box-shadow: none;
}
